<footer id="footer" class="footer color-bg">
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="address-block">
              <!-- /.module-heading -->
              <div class="module-body">
                <ul class="toggle-footer">
                  <li class="media">
                    <div class="pull-left"> <span class="icon fa-stack fa-sm"> <i
                          class="fa fa-map-marker fa-stack-1x fa-inverse"></i> </span> </div>
                    <div class="media-body">
                      <p>Sanskruti Arcade,Kaspate Wasti, Wakad, Pune</p>
                    </div>
                  </li>
                  <li class="media">
                    <div class="pull-left"> <span class="icon fa-stack fa-sm"> <i
                          class="fa fa-mobile fa-stack-1x fa-inverse"></i> </span> </div>
                    <div class="media-body">
                      <p> +91 0123456789</p>
                    </div>
                  </li>
                  <li class="media">
                    <div class="pull-left"> <span class="icon fa-stack fa-sm"> <i
                          class="fa fa-envelope fa-stack-1x fa-inverse"></i> </span> </div>
                    <div class="media-body"> <span><a href="#">support@choicebazzar.com</a></span> </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /.module-body -->
          </div>
          <!-- /.col -->
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="module-heading">
              <h4 class="module-title">Corporation</h4>
            </div>
            <!-- /.module-heading -->
            <div class="module-body">
              <ul class='list-unstyled'>
                <li class="first"><a title="Your Account" href="#">About us</a></li>
                <li><a title="Information" href="#">Customer Service</a></li>
              </ul>
            </div>
            <!-- /.module-body -->
          </div>
          <!-- /.col -->
          <div class="col-xs-12 col-sm-6 col-md-2">
            <div class="module-heading">
              <h4 class="module-title">Why Choose Us</h4>
            </div>
            <!-- /.module-heading -->
            <div class="module-body">
              <ul class='list-unstyled'>
                <li class="first"><a href="#" title="About us">Shopping Guide</a></li>
                <li class=" last"><a href="#" title="Suppliers">Contact Us</a></li>
              </ul>
            </div>
            <!-- /.module-body -->
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="module-heading">
              <h4 class="module-title">Payment Methods</h4>
            </div>
            <!-- /.module-heading -->
            <div class="clearfix payment-methods">
              <ul class="float-right">
                <li><img src="images/payments/1.png" alt=""></li>
                <li><img src="images/payments/2.png" alt=""></li>
                <li><img src="images/payments/3.png" alt=""></li>
                <li><img src="images/payments/4.png" alt=""></li>
                <li><img src="images/payments/5.png" alt=""></li>
              </ul>
            </div>
            <!-- /.module-body -->
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-bar" style="margin: px; padding: 0px;">
      <div class="container" style="margin-left: 40%;">
        <div class="col-xs-12 col-sm-4 no-padding copyright" style="color: white;">copyright&copy;
          ChoiceBazzar</div>
      </div>
    </div>
  </footer>
  <!-- ============================================================= FOOTER : END============================================================= -->

  <!-- For demo purposes – can be removed on production -->

  <!-- For demo purposes – can be removed on production : End -->

  <!-- JavaScripts placed at the end of the document so the pages load faster -->
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/bootstrap-hover-dropdown.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <!-- <script src="js/owl.carousel.js"></script> -->
  <script src="js/echo.min.js"></script>
  <script src="js/jquery.easing-1.3.min.js"></script>
  <script src="js/bootstrap-slider.min.js"></script>
  <script src="js/jquery.rateit.min.js"></script>
  <script src="js/lightbox.min.js"></script>
  <script src="js/bootstrap-select.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/scripts.js"></script>
</body>

</html>